/* reset rule */
* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@import url("https://p.typekit.net/p.css?s=1&k=svz6tik&ht=tk&f=10881.10882.10884.10885.15357.15358.15361.15362.32874.32875&a=7346346&app=typekit&e=css");

/* colors
blue #007ea4
orange #d96227
*/

html, body {
    height: 100%;
    min-height: 100vh;
}
body {
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;

}

header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.main-container {
    background-image: url("images/background-main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

main {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: auto;

}

footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
}

.logo:link {
    text-decoration: none;
    color: #007ea4;
}

.logo i {
    font-size: 2.5rem;
    flex: 0 1 auto;
    margin: 0 1rem 0 0;
  
}

.logo h1 {
    flex: 0 1 auto;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    font-style: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem 0 0 0;
}

header li {
    color: #007ea4;
    flex: 1 1 auto;
    font-size: 1.25rem;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

nav {
    flex: 1 1 auto;
    height: 4rem;
}

.cta-container {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 960px;

    
}

.cta {
    margin: auto;
    position: relative;
    top: 40vh;
    text-align: center;
    
    line-height: 1.1;
}

.cta h2, p {
    color: #ffffff;
    text-shadow: 0 0 6rem #000000;
}

.cta h2 {
    font-size: 5rem;
    letter-spacing: -0.1rem;
}

.cta p {
    font-size: 2.5rem;
    letter-spacing: -0.05rem;
}


